html, body{
	text-align: center;
	background-color: #F5F5F5;
	height: 100%;
	overflow-x: hidden;
	overflow-y:auto;
	margin: 0;
	padding: 0;
}

#body_text {
	color: #333;
	font-family: 'Quicksand', sans-serif;
	font-size: 1.5em;
	line-height: 100% ;
	margin: 0 auto;

	padding-top: 25px;
	padding-bottom: 15px;

	width: 90%;
	vertical-align: middle;
	display: block;
}